/*insert custom css below*/


body {
}

.heading {
  position:fixed;
  top: 30px;
  left: 20px;
  right: 20px;
}

.heading h1 {
}

.box {
  float: left;
  width: 30%;
  margin-top: 200px;
  margin-right:2.5%;
}

.box:last-child {
}

.box h2 {
}

.box img {
  width: 100%;
  border-style: solid;
  border-width: 2px;
}

.box:hover {
  border-style: dashed;
  border-width: 3px;
  border-color: orange;
}

.box a.read-more {
}

.floater {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 300px;
    border: 3px solid black;
    padding: 20px;
    margin-bottom: 40px;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 2px;
  border: 2px solid #eee;
}
